/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test when input is a samplesheet.

    Use as follows:
        nextflow run MGtree -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                = "${projectDir}/test-data/testSRR11028620_samplesheet.csv"
    fastqdir             = "${projectDir}/test-data"
    fasta                = "${projectDir}/test-data/testNoV_CDC_reference.fasta"
    newick               = "${projectDir}/test-data/testNoV_CDC_reference_nodesnamed.nwk"
    no_leaf_genotypes    = true
}
